.button {
  appearance: none;
  align-items: center;
  display: inline-flex;
  min-width: 10rem;
  width: fit-content;
  height: 2.5rem;
  padding: 0 0.5rem;
  font-size: 12px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 0;
  text-decoration: none;
  transition: border 0.2s, background 0.2s, color 0.2s ease-out; }

.button:hover {
  text-decoration: none !important; }

.button-red {
  color: #ffffff;
  background: #ff393a;
  border: 1px solid #ff393a; }

.button-red:hover {
  color: #ff393a;
  background: #ffffff; }
