@import "../variables.scss";

.footer-container {
  background: $gray;
  padding: $distance-md;
  padding-bottom: $distance-lg;
  border-top: 1px solid $dark-gray;
  height: fit-content;
}

.fade-text {
  color: $darker-gray;
  text-transform: uppercase;
}
