@import "../variables.scss";

.footer-container {
  background: $gray;
  padding-top: $distance-md;
  padding-bottom: $distance-md;
  @media only screen and (max-width: 768px) {
    padding-top: $distance-sm;
    padding-bottom: $distance-sm;
  }
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
}

.fade-text {
  font-size: $distance-sm * 1.5;
  color: $darker-gray;
  text-transform: uppercase;
}
