.navbar-shadow {
  height: 50px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #ffffff !important;
  box-shadow: #ffffff 0 -15px, rgba(0, 0, 0, 0.1) 0 0 15px; }
  @media only screen and (max-width: 768px) {
    .navbar-shadow {
      height: 70px; } }

.nav-item {
  text-transform: uppercase;
  transform: scale(0.75, 0.75);
  margin-left: -1rem;
  color: #999; }

.nav-item:hover {
  color: #ff393a; }

.y {
  color: #ff393a;
  font-family: serif; }
