@import "../variables.scss";

.navbar-shadow {
  height: 50px;
  @media only screen and (max-width: 768px) {
    height: 70px;
  }
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: $white !important;
  box-shadow: $white 0 -15px, rgba(0, 0, 0, 0.1) 0 0 15px;
}

.nav-item {
  text-transform: uppercase;
  transform: scale(0.75, 0.75);
  margin-left: -1rem;
  color: #999;
}

.nav-link.active {
  color: #111111 !important;
}

.y {
  color: $red;
  font-family: serif;
}
