@import url("https://use.typekit.net/omc6jul.css");
@import "../variables.scss";

.navbar-shadow {
  height: 50px;
  @media only screen and (max-width: 768px) {
    height: 70px;
  }
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: $white !important;
  box-shadow: $white 0 -15px, rgba(0, 0, 0, 0.1) 0 0 15px;
}

.nav-item {
  text-transform: uppercase;
  transform: scale(0.75, 0.75);
  margin-left: -0.75rem;
  color: #999;
  @media only screen and (max-width: 768px) {
    font-weight: bold;
  }
}

.navbar-sm-nav {
  flex-direction: column !important;
}

.nav-link.active {
  color: #111111 !important;
}

.y {
  color: $red;
  font-family: big-caslon-fb, serif;
  font-weight: bold;
}

.menu-arrow {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  fill: #000;
  cursor: pointer;
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-line {
  height: 1px;
  width: 22px;
  background-color: black;
  transition: transform 0.15s ease;
}

.menu-line:last-child {
  transform: translateY(4px) rotate(0deg);
}

.menu-line:first-child {
  transform: translateY(-4px) rotate(0deg);
}

.menu-wrap.expanded .menu-line:first-child {
  transform: translateY(1px) rotate(45deg);
}

.menu-wrap.expanded .menu-line:last-child {
  transform: translateY(0px) rotate(-45deg);
}

.menu-links {
  position: absolute;
  top: 70px;
  left: 0;
  font-size: 1.75rem;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: white;
  overflow: hidden;
  transition: all 0.4s;
}

.menu-closed {
  height: 0;
}

.nopointer {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.lang-option {
  color: rgba(0, 0, 0, 0.5);
}

.lang-option.lang {
  color: #111111;
}
