@import "../variables.scss";

.slogan {
  font-size: 4rem;
  @media only screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.subslogan {
  font-size: 1.5rem;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.sub-container {
  padding: $distance-md;
}

.full-width {
  width: 100%;
}

.small-title {
  color: $red;
  text-transform: uppercase;
}

.large-title {
  font-size: 1.25 * $distance-lg;
  @media only screen and (max-width: 768px) {
    font-size: 0.75 * $distance-lg;
  }
  font-weight: bold;
}

.quote {
  color: $darker-gray;
}
