@import "../variables.scss";

.slogan {
  font-weight: bold;
  font-size: 5rem;
  @media only screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
}

.subslogan {
  font-size: 1.5rem;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.quote {
  color: $darker-gray;
}

.bgbubble {
  position: absolute;
  z-index: -10;
  top: 100px;
  left: 60px;
  width: 17.5vw;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.bgbubble.ywtw {
  top: 120px;
  left: 40px;
}
