@import "./variables.scss";

*,
*:active,
*:focus {
  color: $black;
  outline: none !important;
  outline-color: transparent !important;
}

.buffer-xlg {
  height: $distance-lg * 3;
}

.buffer-lg {
  height: $distance-lg;
}

.buffer-md {
  height: $distance-md;
}

.buffer-sm {
  height: $distance-sm;
}

.buffer-xs {
  height: $distance-xs;
}

.vertical-buffer {
  width: $distance-sm;
}

.flexer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 28 * $distance-lg;
  width: 100%;
  @media only screen and (max-width: 768px) {
    padding-right: 0 !important;
  }
}

.paddinger {
  padding: 0 1rem !important;
}

.col-md-8 {
  @media only screen and (max-width: 768px) {
    padding-right: 0 !important;
  }
}

.social-link {
  margin: 0 $distance-sm;
}

.bold {
  font-weight: bold;
}

.shrink {
  transform: scale(0.75, 0.75);
}

blockquote {
  text-align: justify;
}

.full-img {
  width: 100%;
  @media only screen and (max-width: 768px) {
    width: 75%;
  }
}

.portrait {
  @media only screen and (max-width: 768px) {
    padding-top: 1rem;
  }
}

.max-img {
  max-width: 100%;
}
