// Distances
$distance-lg: 2rem;
$distance-md: 1rem;
$distance-sm: 0.5rem;
$distance-xs: 0.1rem;

// Colors
$white: #ffffff;
$black: #000000;
$gray: #fafafa;
$dark-gray: #efefef;
$darker-gray: #969696;
$red: #ff393a;
